.button {
    color: white;
    background-color: blueviolet;
    width: 50%;
    max-width: 250px;
}

.container {
    position: absolute;
    top: 400px;
}

.canvasContainer {
    position: absolute;
    top: 400px;
    z-index: 9999; 
}

.canvas {
    background: transparent;
}